.custom-nav-item {
  position: relative;
}

.custom-nav-item.active-with-curve::before {
  content: "";
  position: absolute;
  bottom: -50px;
  right: 0;
  height: 50px;
  width: 25px;
  background-color: transparent;
  border-top-right-radius: 30px;
  box-shadow: 0 -25px 0 0 #F7F6FC;
}

.dark .custom-nav-item.active-with-curve::before{
  content: "";
  position: absolute;
  bottom: -50px;
  right: 0;
  height: 50px;
  width: 25px;
  background-color: transparent;
  border-top-right-radius: 30px;
  box-shadow: 0 -25px 0 0 #030303;
}

.custom-nav-item.active-with-curve::after {
  content: "";
  position: absolute;
  top: -50px;
  right: 0;
  height: 50px;
  width: 25px;
  background-color: transparent;
  border-bottom-right-radius: 30px;
  box-shadow: 0 25px 0 0 #F7F6FC;
}

.dark .custom-nav-item.active-with-curve::after{
  content: "";
  position: absolute;
  top: -50px;
  right: 0;
  height: 50px;
  width: 25px;
  background-color: transparent;
  border-bottom-right-radius: 30px;
  box-shadow: 0 25px 0 0 #030303;
}

.sidebar {
  background:
    linear-gradient(
      to bottom,
      rgba(210, 197, 197, 0.9) 0%,
      rgba(201, 191, 191, 0.6) 15%,
      transparent 35%
    ),
    radial-gradient(circle at 0% 10%, rgba(70,140,255,0.6), transparent 25%),
    radial-gradient(circle at 0% 45%, rgba(255,90,90,0.5), transparent 25%),
    radial-gradient(circle at -30% 65%, rgba(255,255,255,0.5), transparent 20%),
    radial-gradient(circle at -30% 95%, rgba(255,255,255,0.5), transparent 30%),
    linear-gradient(to top, rgba(255, 255, 255, 0.9) 100%, transparent 90%);
}

.dark .sidebar {
  background:
    linear-gradient(
      to bottom,
      rgba(0,0,0,0.9) 0%,
      rgba(0,0,0,0.6) 15%,
      transparent 35%
    ),
    radial-gradient(circle at 0% 10%, rgba(70,140,255,0.6), transparent 25%),
    radial-gradient(circle at 0% 45%, rgba(255,90,90,0.5), transparent 25%),
    radial-gradient(circle at -30% 65%, rgba(255,255,255,0.5), transparent 20%),
    radial-gradient(circle at -30% 95%, rgba(255,255,255,0.5), transparent 30%),
    linear-gradient(to top, rgba(0,0,0,0.9) 100%, transparent 90%);
}

.glass-overlay {
  position: absolute;
  inset: 0;
  background: rgba(244, 244, 250, 0.14);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(24px);
  border-right: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow:
    0 0 60px rgba(0, 0, 0, 0.1);
  pointer-events: none;
}