@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Inter', sans-serif;
}
